Flaky (not reproducable) Validation 

**Environment**
- Nuget Package: JsonSchema.Net
- Nuget Version: 3.2.1
- OS: Kubernetes / Docker / dotnet:6.0-alpine
- .Net Target: .NET 6.0

**Describe the bug**
The **Validate(JsonNode? root, ValidationOptions? options = null)** returns under unknown condition that "**Expected value to match one of the values specified by the enum**" even though, the field value is valid and a immediate retry succeeds.

**To Reproduce**
We tried to reproduce the error by consuming the same message from kafka/filesystem/encoded/decoded/brute-force-parallel and failed.

**Expected behavior**
Enums should always be detected correctly with the same value

**Additional context**

We consume messages (~30/second) from Kafka and validate them against a (cached) JsonSchema:

Our method:
```c#
public JsonMessageValidationResult Validate(JsonDocument json, SchemaOptions schemaOptions)
{
	JsonSchemaInformation schemaInformation = _schemaLoader.Load(schemaOptions.SchemaFileName, schemaOptions.SchemaType);
	JsonSchema jsonSchema = schemaInformation.JsonSchema;
	ValidationResults validationResults = jsonSchema.Validate(json.RootElement, ValidationOptions);

	if (!validationResults.IsValid)
	{
		validationResults = jsonSchema.Validate(json.RootElement, ValidationOptions);

		if (validationResults.IsValid)
		{
			_logger.JsonValidationErrorFlaking();
		}
		else
		{
			_logger.JsonValidationErrorsDetected(validationResults.NestedResults.Count, schemaOptions.SchemaType, schemaInformation.ApiVersion);
			_logger.JsonValidationTrace(schemaOptions.SchemaType, schemaInformation.ApiVersion, AsString(json));
		}
	}

	ValidationResult validationResult = new(validationResults.IsValid, GetValidationErrors(validationResults), schemaInformation.ApiVersion);
	return new JsonMessageValidationResult(validationResult);
}
```

In the code you see that we do a first validation, which might fail and then we do the same validation, with the  same JsonDocument.RootElement and the same ValidationOptions and it will NOT fail, e.g. reach "_logger.JsonValidationErrorFlaking()". We are stumped by that and can't really think on what we are doing wrong.

The experienced error rate is 1/2_000_000.

Schema:
```json
{
  "type": "object",
  "properties": {
    "mailpieceId": {
      "$ref": "#/definitions/MailpieceId"
    },
    "timestamp": {
      "$ref": "#/definitions/DateTime",
      "description": "The timestamp of this state"
    },
    "state": {
      "$ref": "#/definitions/State",
      "description": "The clearance state of the parcel"
    }
  },
  "required": [
    "mailpieceId",
    "timestamp",
    "state"
  ],
  "additionalProperties": true,
  "$id": "#ClearanceEvent",
  "$schema": "http://json-schema.org/draft-07/schema",
  "definitions": {
    "MailpieceId": {
      "type": "string",
      "description": "18 digits swiss barcode (alt Sendungsnummer, Identcode, shipment number)",
      "pattern": "(98|99)[0-9]{16}",
      "$id": "#MailpieceId"
    },
    "DateTime": {
      "type": "string",
      "description": "<a href=\"https://swagger.io/docs/specification/data-models/data-types/#string\">String @format date-time</a>,\nas defined by <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339, section 5.6</a>,\nfor example: <code>2014-05-22T10:42:42.542+00:00</code>.",
      "format": "date-time"
    },
    "State": {
      "type": "string",
      "enum": [
        "DENIED",
        "GRANTED"
      ],
      "$id": "#State"
    }
  }
}
```

Event:
```json
{
        "mailpieceId": "996013622604113322",
        "timestamp": "2019-10-10T22:26:20.489571+02:00",
        "state": "GRANTED"
    }
```


Thanks for the report.  Are these bring run in parallel by chance, or is it all sequential?

They are run in parallel. I tried to reproduce it in the tests too.

That gives me a clue, thanks. I should be able to look into it this week.

@seilc1 are you always using the schema you posted, or does the schema vary?  If you're using the same schema, is it the same .Net instance, or are you deserializing each time?

The implementation of the `schemaLoader` holds a `ConcurrentDictionary`. The schema is loaded only once and stays the same during the application lifetime (it is embedded in the assembly as a resource). The SchemaLoader is registered as Singleton at the container.

```
public class JsonSchemaLoader : IJsonSchemaLoader
{
    private readonly ConcurrentDictionary<Type, JsonSchemaInformation> _resolvedSchemaInformation = new();

    public JsonSchemaInformation Load(string schemaFileName, Type schemaType)
    {
        if (_resolvedSchemaInformation.TryGetValue(schemaType, out JsonSchemaInformation? resolvedSchemaInformation))
        {
            return resolvedSchemaInformation;
        }

        Assembly schemaAssembly = schemaType.Assembly;
        string? version = schemaAssembly.GetName().Version?.ToString();
        Stream? schemaStream = schemaAssembly.GetManifestResourceStream(schemaFileName);

        if (string.IsNullOrEmpty(version) || schemaStream == null)
        {
            throw new ArgumentException($"No schema found for schema file name: {schemaFileName} and type: {nameof(schemaType)}");
        }

        using StreamReader reader = new(schemaStream);

        // JsonSchema only supports draft version 06+
        JsonSchema jsonSchema = JsonSchema.FromText(AllowAdditionalProperties(reader.ReadToEnd()));
        JsonSchemaInformation schemaInformation = new(jsonSchema, version);

        _resolvedSchemaInformation[schemaType] = schemaInformation;

        return schemaInformation;
    }

    private static string AllowAdditionalProperties(string schemaJson)
    {
        return schemaJson.Replace("\"additionalProperties\": false", "\"additionalProperties\": true", StringComparison.InvariantCulture);
    }
}
```

Well, I was able to replicate the issue.  Still not sure what the problem is, though.  In one test run, I saw an error on the regex.

I updated the error message for `enum` as well so that it includes the values.  (I didn't before because there could be a lot of values, and they're not always strings.)  This returned the error message `Expected value `\"GRANTED\"` to match one of the values specified by the enum `[\"DENIED\",\"GRANTED\"]`` which is obviously incorrect.

![image](https://user-images.githubusercontent.com/2676804/197630826-90ec47f8-0c4e-4df1-9558-6a584fc27870.png)

What?!

The only thing I can think of is that `context.LocalInstance` is somehow changing between the evaluation of the `if` condition and the next statement.  But the context is self-contained.  It's not shared outside of the thread.

I don't think it matters because I see no reason and I also think the compiler will optimize this away.
However, you access `Values` rather than `_values`.  Not sure if it's by intention.

This test shows that the issue is actually in the comparer.

```c#
[Test]
public void Issue337_ParallelComparisons()
{
	string? failed = null;

	try
	{
		var arrayText = "[\"DENIED\",\"GRANTED\"]";
		var valueText = "\"GRANTED\"";

		var array = JsonNode.Parse(arrayText)!.AsArray();
		var value = JsonNode.Parse(valueText);

		Parallel.ForEach(Enumerable.Range(1, 1000000).ToList().AsParallel(), i =>
		{
			var array0 = array[0];
			var array1 = array[1];
			var array0Hash = JsonNodeEqualityComparer.Instance.GetHashCode(array0);
			var array1Hash = JsonNodeEqualityComparer.Instance.GetHashCode(array1);
			var valueHash = JsonNodeEqualityComparer.Instance.GetHashCode(value);

			if (array0Hash != valueHash && array1Hash != valueHash)
			{
				failed ??= $@"Hashcode failed on iteration {i}

value: {valueHash}
array[0]: {array0Hash} - {array0.ToJsonString()}
array[1]: {array1Hash} - {array1.ToJsonString()}";
				return;
			}

			if (!JsonNodeEqualityComparer.Instance.Equals(array0, value) &&
				!JsonNodeEqualityComparer.Instance.Equals(array1, value))
			{
				failed ??= "Equals failed";
			}

			if (!array.Contains(value, JsonNodeEqualityComparer.Instance))
			{
				failed ??= "Contains failed";
			}
		});
	}
	finally
	{
		if (failed != null)
		{
			Console.WriteLine(failed);
			Assert.Fail();
		}
	}
}
```

It looks like while my equality comparison takes into account the underlying value of a `JsonNode` being a `JsonElement`, the hash code calculation doesn't.

Ultimately, it looks like `JsonNode` isn't threadsafe.  If I change the test to

```c#
[Test]
public void Issue337_ParallelComparisons()
{
	string? failed = null;

	try
	{
		Parallel.ForEach(Enumerable.Range(1, 1000000).ToList().AsParallel(), i =>
		{
			var arrayText = "[\"DENIED\",\"GRANTED\"]";
			var valueText = "\"GRANTED\"";

			var array = JsonNode.Parse(arrayText);
			var value = JsonNode.Parse(valueText);

			var array0 = array[0];
			var array1 = array[1];
			var array0Hash = JsonNodeEqualityComparer.Instance.GetHashCode(array0);
			var array1Hash = JsonNodeEqualityComparer.Instance.GetHashCode(array1);
			var valueHash = JsonNodeEqualityComparer.Instance.GetHashCode(value);

			if (array0Hash != valueHash && array1Hash != valueHash)
			{
				failed ??= $@"Hashcode failed on iteration {i}

value: {valueHash} - {value.AsJsonString()}
array[0]: {array0Hash} - {array0.AsJsonString()}
array[1]: {array1Hash} - {array1.AsJsonString()}";
				return;
			}

			//if (!JsonNodeEqualityComparer.Instance.Equals(array0, value) &&
			//	!JsonNodeEqualityComparer.Instance.Equals(array1, value))
			//{
			//	failed ??= "Equals failed";
			//}

			//if (!array.Contains(value, JsonNodeEqualityComparer.Instance))
			//{
			//	failed ??= "Contains failed";
			//}
		});
	}
	finally
	{
		if (failed != null)
		{
			Console.WriteLine(failed);
			Assert.Fail();
		}
	}
}
```

(moving the parsing inside the `Parallel.ForEach()`, it works fine.

I don't know that I can do anything about this.

_tldr;_ of the linked issue ☝️: `JsonElement.GetString()` isn't thread safe.  I use this in my equality checking.  There's no other option, so I can't really do anything about this until the .Net team fixes that.

I suggest implementing a retry.  The odds are low that it'll happen on successive validations of the same message.  Happily, validation is really quick.  Unhappily, there's not really any indicator other than a failed validation (which could happen anyway) that a concurrency error happened.

It's been added to the .Net 8 milestone.

I'm going to close this since there's not else I can really do about this.

Thank you very much for your super and fast support! Our team and I were amazed :-)