No support for `$id` which are not directly absolute URIs / breaking at validation time

**Describe the bug**
If the value of `$id` is not an absolute URL, resolving `$ref`-s fails. This seems to have worked with ManateeJson; if removing this feature is intentional, we should probably still fail on de-serialization (i.e. validation) of the schema, instead of getting an exception when attempting to resolve the `$ref` when using the schema to validate another json.

**To Reproduce**

```cs
using System;
using System.Text.Json;
using Json.Schema;
using Manatee.Json;

using ManateeJsonSerialiazer = Manatee.Json.Serialization.JsonSerializer;
using ManateeJsonSchema = Manatee.Json.Schema.JsonSchema;

namespace test
{
    class Program
    {
        static void Main(string[] args)
        {
            var schemaStr = @"
{
  ""$schema"": ""http://json-schema.org/draft-07/schema#"",
  ""$id"": ""mySchema.json"",
  ""properties"": {
      ""abc"": { ""$ref"": ""mySchema.json"" }
  },
  ""additionalProperties"": false
}";
            var jsonStr = @"
{
  ""abc"": {
    ""abc"": {
        ""abc"": ""abc""
    }
  }
}";
            var serializer = new ManateeJsonSerialiazer();
            var manateeSchema = serializer.Deserialize<ManateeJsonSchema>(JsonValue.Parse(schemaStr));
            var manateeJson = JsonValue.Parse(jsonStr);
            var manateeValidation = manateeSchema.Validate(manateeJson);
            Console.WriteLine("Manatee: {0}", serializer.Serialize(manateeValidation));
            var schema = JsonSerializer.Deserialize<JsonSchema>(schemaStr);
            var json = JsonDocument.Parse(jsonStr).RootElement;
            var validation = schema.Validate(json);
            validation.ToDetailed();
            Console.WriteLine("JsonSchema.NET: {0}", JsonSerializer.Serialize(validation));
        }
    }
}
```

This throws an exception on the `Validate` line - instead of throwing it at the `Deserialize` one, or accepting this.

**Expected behavior**

I would expect partial URIs to be valid in `$id` position, valid for use within the same document, and ideally also resolving to the base URI where the schema was obtained (allowing support across documents which share a base URI, even if it isn't specified inside the schema).

-OR-

If using partial URIs is strictly forbidden, I would expect this to be validated on schema de-serialization.

Also, as a side issue - I think it would also be better for `$ref`-s to be resolved on de-serialization whenever possible. I'm not sure if this is possible for `$recursiveRef` from draft2019-09, as the base URI can change there; but for `$ref` it is fixed to the definition site, so this should be possible.

It seems I need to bring over the "default base URI" option.  I thought I had.  Not sure why the `$ref` isn't resolving.  The `$id` should register that URI which the `$ref` then looks up.  I'll add a test.

Regarding throwing on deserialization, this is not possible. You've provided a valid URI.  I can't know at deserialization time whether I'm at the root schema to try to enforce an absolute URI.

Also, `$ref` resolution at deserialization isn't possible because I haven't fully deserialize the JSON structure yet, and I may not have those locations yet.

I'll look at adding the default base URI option.

Sorry for not providing the (informative) stack trace. It fails at the `UriExtensions` method of `GetParent`, because it attempts to get the property `AbsoluteUri` on a non-absolute URI.

About errors at deserialization time, I understand your points. I guess these things then could be done afterwards as some kind of internal validation step. This could be a useful feature, for guaranteeing that validating a json can't throw an exception; but this is then a completely new feature, and since `$recursiveRef` couldn't probably be supported in the general case, it's probably not worth the trouble.

Thanks a lot for your work on this library and the quick responses!

I checked this, and this still seems not to work with cross-file references. You can see a failing test in my branch: https://github.com/amosonn/json-everything/tree/test-1

I didn't open a PR because I wasn't sure what's the right way to resolve this; I'm not sure what's the point of the logic regarding `newUri` vs `newBaseUri` in `RefKeyword`, but the bottom line problem is that the newly joined URI is only used in `SchemaRegistry.Get`, and this doesn't attempt to fetch new resources.

The link you provided isn't leading me anywhere specific, just to the fork.

A non-absolute URI isn't going to be able to have references outside of the file because it has no knowledge of where the file is.  You can set the base URI or provide a download func in the validation options.

It takes to the branch with the new test, which is one commit ahead of your master. Here's the link to the diff directly: https://github.com/gregsdennis/json-everything/compare/master...amosonn:test-1

After your previous changes relevant to this topic, if the schema is created from a file, the path to this file is maintained as the base URI for this schema, and I would expect the reference to look under this path. I checked using debug prints, and the code in `RefKeyword` does calculate the correct absolute URI from the relative one in this case; it just doesn't attempt to fetch this resource.

I guess I haven't seen the code which fetches schemas with http-based URI-s, either. Does this mean that they need to be preloaded as well?

They either need to be preloaded or set up the download function in the options to retrieve them.

Ok, thanks! I created a PR making setting up this function more ergonomic.

My apologies. The download method isn't directly on the options. It's on the registry, which the options carry an instance.

My apologies. The download method isn't directly on the options. It's on the registry, which the options carry an instance.

I continued hacking at this, now I have trouble with relative `$ref`-s where the `$id` is not absolute and the Schema is received from a web server instead of a file. Whereas `FromFile` registered the given filename as `BaseUri`, there's no similar way to register a web URI as the base URI of the schema.

The obvious option is to add another ctor for this, or to make this property publicly-settable. But another possibility, which also provides some nice ergonomics, is to have the `SchemaRegistry` set this up on registration; I would definitely expect a `JsonSchema` which was registered under a given `Uri` to use it as the base for resolving others.

There's an option that allows you to set a default URI.  Change this to your web server.

> I would definitely expect a JsonSchema which was registered under a given Uri to use it as the base for resolving others.

It does this.

By "registered under", I meant something along the lines of:
```cs
var schema1Str = @"
{
  ""$schema"": ""http://json-schema.org/draft-07/schema#"",
  ""$id"": ""schema1.json"",
  ""properties"": {
    ""abc"": { ""type"": ""string"" }
  }
}";
var schema2Str = @"
{
  ""$schema"": ""http://json-schema.org/draft-07/schema#"",
  ""$id"": ""schema2.json"",
  ""$ref"": ""schema1.json""
}";
var uri1 = new Uri("http://example.com/schema1.json");
var uri2 = new Uri("http://example.com/schema2.json");
var jsonStr = @"{ ""abc"": ""s"" }";

var schema1 = JsonSerializer.Deserialize<JsonSchema>(schema1Str);
var schema2 = JsonSerializer.Deserialize<JsonSchema>(schema2Str);
var json = JsonDocument.Parse(jsonStr).RootElement;

var options = new ValidationOptions { OutputFormat = OutputFormat.Verbose };
options.SchemaRegistry.Register(uri1, schema1);
options.SchemaRegistry.Register(uri2, schema2);

var schema = options.SchemaRegistry.Get(uri2);
var validation = schema.Validate(json, options);
Console.WriteLine("JsonSchema.NET: {0}", JsonSerializer.Serialize(validation));
```
With or without `$id`. The schema only knows its relative path, but I know the absolute one when I'm fetching it.

Setting the default URI is a workaround. What if I have two web servers I'm using, each of them with relative schema-s pointing inside it?

The JsonSchema draft specifies:
> RFC3986 Section 5.1 defines how to determine the default base URI of a document.
>
> Informatively, the initial base URI of a schema is the URI at which it was found, whether that was a network location, a local filesystem, or any other situation identifiable by a URI of any known scheme.
>
> If a schema document defines no explicit base URI with "$id" (embedded in content), the base URI is that determined per RFC 3986 section 5.

But for this to work, I should be able to tell the library the URI "at which it was found", which I currently can't (unless this URI is a file). It seems to me that using the `SchemaRegistry.Register` method (directly or by `Get` calling `Fetch`) should be a good way to tell the library this URI, because it will continue being found under this URI in the future.

Bumping this, in case it got lost. Should I open a new issue for this? This is still somewhat related to the original issue, but is also somewhat different.

As I've already stated, the combination of the default base URI (this is per validation pass, not global) and being able to define a fetching method covers this.  I'm not making further changes in this regard unless you can devise a test that this library cannot be configured to pass.

Alright, I wrote the more complicated test I had in mind, and you're right, it works :) (though the diagnostics are slightly off - in some places the `absoluteKeywordLocation` does not point to the schema but rather to its parent. I'll try to make a PR later).

I still feel that the ergonomics around having to keep both the `JsonSchema` and the `ValidationOptions` around are a bit awkward, but I'll open a new issue for that sometime later.

Thanks for your replies!