JsonPatch does not seem to work with collections

### Nuget Package

JsonPatch.Net

### Package Version

2.1.0

### Operating System

Windows

### .Net Target (if relevant, please specify the version in the description)

.Net (5 or after)

### A clear and concise description of the bug.

I'm trying the add an object to an existing collection, but the collection is getting replaced by an object with the same name.

### What did you expect?

Adding items to an existing collection.

### Please add test code or steps to reproduce the behavior.

```c#
var  jsonPointer = JsonPointer.Create<Data.GHub>(x => x.ApplicationList.Applications);
var  jsonPatch   = new JsonPatch(PatchOperation.Add(jsonPointer, applicationNode));
PatchResult patchResult = jsonPatch.Apply(fileNode);

public class GHub
{
    public ApplicationList applications { get; set; }
}
```

### Is there any other information you'd like to share regarding this bug?

Original document:

![image](https://github.com/gregsdennis/json-everything/assets/31325575/c4c193fb-6dbf-44f1-ba6b-04eb9da8751e)


Overwritten collection:

![image](https://github.com/gregsdennis/json-everything/assets/31325575/341f8359-ef8e-4024-8546-ade5333c50bb)


### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

I'm guessing this is related to #542?

I don't think your pointer is correct.  If you want to add something to the end, you need to use a `-` as the last segment in the pointer to indicate that it's supposed to go to the end.  (There's not a way to do add this using the Linq Expression `.Create()` method.)

From [RFC 6901, section 4](https://www.rfc-editor.org/rfc/rfc6901#section-4):

> - exactly the single character "-", making the new referenced value the (nonexistent) member after the last array element.

You'll want

```c#
var  jsonPointer = JsonPointer.Parse("/applications/applications/-");
```

I recommend then that you update the documentation listing the limitations of the expression override.

Given that this is a non-issue, I'm closing it.  A solution as been given.